.container {
  width: 100%;
  background-color: #00001a;
  padding: clamp(1.5rem, 1.32398rem + 0.751vw, 2rem)
    clamp(1.25rem, 1.16188rem + 0.376vw, 1.5rem);
}

.card {
  padding-top: 2rem;
}

.card:not(:last-child) {
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #5e607a;
}

.card h3:hover {
  color: #e9aa52;
}

.card p {
  color: #c5c6ce;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 31.6%;
  }
}
