html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fffdfa;
  color: #5e607a;
  font-size: 0.9375rem;
  line-height: 1.625rem;
  margin: 0;
  padding: clamp(1.75rem, 0.42953rem + 5.634vw, 5.5rem)
    clamp(1rem, -2.25711rem + 13.897vw, 10.25rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: #00001a;
  font-size: clamp(2.5rem, 2.14797rem + 1.502vw, 3.5rem);
  font-weight: 800;
  line-height: clamp(2.5rem, 2.14797rem + 1.502vw, 3.5rem);
}

h2 {
  color: #e9aa52;
  font-size: clamp(2rem, 1.82398rem + 0.751vw, 2.5rem);
  font-weight: 700;
  line-height: clamp(2rem, 1.82398rem + 0.751vw, 2.5rem);
}

h3 {
  color: #fffdfa;
  font-size: 1.25rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.5rem;
}

h4 {
  color: #f15d51;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

h5 {
  color: #00001a;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
}

a {
  color: #5e607a;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  color: #f15d51;
}
